<header>
  <div>
    <span class="logo1">Inside</span>
    <span class="logo2">Aparna's</span>
    <span class="logo3">Mind</span>
  </div>
</header>

<main *ngIf = "blogPosts | async as blogPosts">
  <div class="blog-posts-container" *ngFor= "let blogPost of blogPosts.items">
    <img [src] = "blogPost.fields.featuredImage.fields.file.url">
    <h2>{{blogPost.fields.title}}</h2>
    <p class ="author">{{blogPost.fields.author}}</p>
    <p class ="summary">{{blogPost.fields.summary}}</p>
    <a [routerLink]="['blog' , blogPost.sys.id]" >Read more</a>
  </div>
</main>
